@import url("https://www.dropbox.com/sh/wo8ndsr41teh7gn/AACpzNmdOsXGLUunPzAnEFYia?dl=0");

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('HelveticaNeue-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url('HelveticaNeue-UltraLight.otf');
}